.toDoContainer {
  background: transparent url("../../../img/piece-of-paper.jpg") center
    no-repeat fixed;
  background-size: contain;
  height: 100%;
  padding: 20px;
  position: relative;
  width: 100%;

  h1 {
    font-size: 35px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 7%;
    transform: translateX(-50%);
  }

  .tasks {
    margin-inline: auto;
    margin-top: 70px;
    max-width: 340px;
    width: 100%;
  }
}
