.todo-modal {
  background-color: #f5ebeb;
  border-radius: 6px;
  left: 50%;
  max-width: 400px;
  padding: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;

  .close-modal-button {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  h2 {
    text-align: center;
  }

  .todo-modal__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-weight: bold;
    }

    input {
      padding: 4px;
      width: 100%;
    }
  }

  .form__button {
    background-color: #853a18;
    border-radius: 7px;
    color: #fff;
    display: block;
    font-size: 15px;
    margin-inline: auto;
    padding: 9px;
    text-align: center;
    transition: all 0.2s ease;
  }

  .form__button:hover {
    font-weight: bold;
    padding: 10px;
  }

  .form__button:active {
    opacity: 0.9;
  }
}
