@use "../partials/mixins";

.newTaskCTA {
  position: absolute;
  right: 15px;
  top: 15px;

  button {
    background-color: #f8d5a8;
    border: 1px solid #282828;
    border-radius: 10px;
    @include mixins.flex-center;
    font-size: 18px;
    gap: 5px;
    padding: 8px;
    transition: all 0.15s ease;

    &:hover {
      background-color: #bd8c4d;
      color: #fff;
    }

    &:active {
      background-color: #f0b569;
    }

    svg {
      width: 20px;
    }
  }
}
