@use "../assets/partials/variables";

:host {
  display: block;
  height: 100%;
  padding: 40px;
  position: relative;
}

h1 {
  color: #fff;
  text-align: center;
}

.to-do {
  background-color: #fefefe;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}

h2 {
  font-size: 22px;
}

#create-task-button {
  border: 2px solid #853a18;
  border-radius: 5px;
  font-size: 17px;
  padding: 7px 10px;
  transition: all 0.2s ease-in-out;
}

#create-task-button:hover {
  background-color: #853a18;
  color: #fff;
}

.to-do__tasks {
  margin-top: 20px;
  width: 100%;
}

.tasks__task {
  display: flex;
  justify-content: space-between;
}

.tasks__task > div {
  align-items: center;
  display: flex;
  gap: 8px;
}

.tasks__task input {
  transform: scale(1.2);
}

.crud-button {
  transition: all 0.15s ease-in-out;
}

.delete-task-button:hover {
  fill: variables.$red-color;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

svg {
  height: 20px;
  width: 20px;
}

.crud-modal {
  display: none;
  position: absolute;
}
