@use "../assets/partials/variables";
@use "../assets/mixins/mixins";

:host {
  display: block;
  height: 100%;
  padding: 40px;
  position: relative;
}

h1 {
  color: #fff;
  text-align: center;
}

.to-do {
  background-color: #fefefe;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
}
